In [1]:
import pandas as pd 
import numpy as np
import matplotlib as plt
import seaborn

In [2]:
pd.__version__

'2.2.2'

# Q2. Records count

How many records are in the dataset?

    12
    1000
    2160
    12160

In [34]:
laptops = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv")

# Q3. Laptop brands

How many laptop brands are presented in the dataset?

    12
    27
    28
    2160

In [50]:
laptops.Brand.unique()

array(['Asus', 'Alurin', 'MSI', 'HP', 'Lenovo', 'Medion', 'Acer', 'Apple',
       'Razer', 'Gigabyte', 'Dell', 'LG', 'Samsung', 'PcCom', 'Microsoft',
       'Primux', 'Prixton', 'Dynabook Toshiba', 'Thomson', 'Denver',
       'Deep Gaming', 'Vant', 'Innjoo', 'Jetwing', 'Millenium', 'Realme',
       'Toshiba'], dtype=object)

In [35]:
len(laptops.Brand.unique())

27

# Q4. Missing values

How many columns in the dataset have missing values?

    0
    1
    2
    3

In [36]:
laptops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laptop        2160 non-null   object
 1   Status        2160 non-null   object
 2   Brand         2160 non-null   object
 3   Model         2160 non-null   object
 4   CPU           2160 non-null   object
 5   RAM           2160 non-null   int64
 6   Storage       2160 non-null   int64
 7   Storage type  2118 non-null   object
 8   GPU           789 non-null    object
 9   Screen        2156 non-null   float64
 10  Touch         2160 non-null   object
 11  Final Price   2160 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 202.6+ KB

# Q5. Maximum final price

What's the maximum final price of Dell notebooks in the dataset?

    869
    3691
    3849
    3936

In [37]:
laptops.loc[laptops["Brand"]=="Dell","Final Price"].max()

np.float64(3936.0)

# Q6. Median value of Screen

    Find the median value of Screen column in the dataset.
    Next, calculate the most frequent value of the same Screen column.
    Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.
    Now, calculate the median value of Screen once again.

Has it changed?

    Hint: refer to existing mode and median functions to complete the task.

    Yes
    No

In [38]:
# Find the median value of the Screen column
laptops["Screen"].median()

np.float64(15.6)

In [39]:
# Next, calculate the most frequent value of the same Screen column.
screen_mode = laptops["Screen"].mode()
screen_mode

0    15.6
Name: Screen, dtype: float64

In [40]:
laptops.loc[laptops["Screen"].isna()]

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
624,Acer Extensa 15 EX215-54 Intel Core i5-1135G7/...,New,Acer,Extensa,Intel Core i5,8,256,SSD,NaN,NaN,No,524.99
1430,HP ENVY x360 2-in-1 Laptop 15-ew0008np Intel C...,New,HP,Envy,Intel Core i7,16,512,SSD,RTX 2050,NaN,Yes,1863.52
1503,Lenovo IdeaPad Gaming 3 15ACH6 AMD Ryzen 5 560...,New,Lenovo,IdeaPad,AMD Ryzen 5,16,512,SSD,RTX 3060,NaN,No,1505.00
1548,Lenovo ThinkPad P15 Gen 2 Intel Core i7-11850H...,New,Lenovo,ThinkPad,Intel Core i7,16,512,SSD,RTX A2000,NaN,No,2569.00

In [48]:
# Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.
laptops["Screen"].fillna(value = 15.6, inplace=True)

/tmp/ipykernel_14489/1884667449.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  laptops["Screen"].fillna(value = 15.6, inplace=True)

np.float64(15.6)

In [49]:
laptops["Screen"].median()

np.float64(15.6)

# Q7. Sum of weights

    Select all the "Innjoo" laptops from the dataset.
    Select only columns RAM, Storage, Screen.
    Get the underlying NumPy array. Let's call it X.
    Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
    Compute the inverse of XTX.
    Create an array y with values [1100, 1300, 800, 900, 1000, 1100].
    Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
    What's the sum of all the elements of the result?

In [79]:
X = laptops.loc[laptops["Brand"]=="Innjoo",["RAM","Storage","Screen"]]
XTX = X.T @ X

In [80]:
np.linalg.det(XTX)

np.float64(611414507.5199898)

In [81]:
XTX_inv = np.linalg.inv(XTX)

In [82]:
# Create an array y with values [1100, 1300, 800, 900, 1000, 1100].
y = np.array([1100, 1300, 800, 900, 1000, 1100])

In [83]:
X.T.shape

(3, 6)

In [84]:
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
w = XTX_inv @ X.T @ y

In [85]:
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
sum_w = np.sum(w)

sum_w

np.float64(91.29988062995548)

In [45]:
laptops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laptop        2160 non-null   object
 1   Status        2160 non-null   object
 2   Brand         2160 non-null   object
 3   Model         2160 non-null   object
 4   CPU           2160 non-null   object
 5   RAM           2160 non-null   int64
 6   Storage       2160 non-null   int64
 7   Storage type  2118 non-null   object
 8   GPU           789 non-null    object
 9   Screen        2156 non-null   float64
 10  Touch         2160 non-null   object
 11  Final Price   2160 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 202.6+ KB